<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="TechTribe\InstantCatalog\Api\InstantCatalogApiInterface" type="TechTribe\InstantCatalog\Model\InstantCatalogApi" />
    <preference for="TechTribe\InstantCatalog\Api\Data\InstantCatalogInterface" type="TechTribe\InstantCatalog\Model\InstantCatalog" />
    <preference for="TechTribe\InstantCatalog\Api\DataProvider\ProductCollectionInterface" type="TechTribe\InstantCatalog\Model\DataProvider\ElasticSearch7\ProductCollection" />
    <type name="TechTribe\InstantCatalog\Model\DataProvider\DataProviderFactory">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="elasticsearch7" xsi:type="string">TechTribe\InstantCatalog\Model\DataProvider\ElasticSearch7\ProductCollection</item>
            </argument>
        </arguments>
    </type>
</config>
